apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs
  namespace: my-blog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextjs
  template:
    metadata:
      labels:
        app: nextjs
    spec:
      containers:
        - name: nextjs
          image: aleena8/nextjs:v3
          imagePullPolicy: Always

          ports:
            - containerPort: 3000

          env:
            - name: STRAPI_API_URL
              value: "http://strapi-api:1337"
            - name: NEXT_PUBLIC_STRAPI_API_URL
              value: "http://209.38.121.93:30002"
            - name: NEXT_PUBLIC_STRAPI_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: blog-secrets
                  key: STRAPI_API_TOKEN
            - name: NEXT_PUBLIC_STRAPI_FORM_SUBMISSION_TOKEN
              valueFrom:
                secretKeyRef:
                  name: blog-secrets
                  key: STRAPI_FORM_SUBMISSION_TOKEN

          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20

---
apiVersion: v1
kind: Service
metadata:
  name: nextjs
  namespace: my-blog
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30001
  selector:
    app: nextjs

