name: Deploy to K3s

on:
  push:
    branches:
      - main

env:
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
  SERVER_IP: ${{ secrets.SERVER_IP }}
  SERVER_SSH_KEY: ${{ secrets.SERVER_SSH_KEY }}

jobs:
  build-backend:
    name: Build Backend (Strapi)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build + Push Strapi Backend
        run: |
          docker build -t $DOCKER_USER/strapi:latest backend/
          docker push $DOCKER_USER/strapi:latest

  build-frontend:
    name: Build Frontend (Next.js)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build + Push Next.js Frontend
        run: |
          docker build \
            --build-arg STRAPI_URL=http://209.38.121.93:1337 \
            -t $DOCKER_USER/nextjs:latest frontend/
          docker push $DOCKER_USER/nextjs:latest

  deploy:
    name: Deploy to K3s Server
    runs-on: ubuntu-latest
    needs: [build-backend, build-frontend]

    steps:
      - name: Deploy to K3s
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: deploy
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/nextjs-corporate-starter
            git pull
            kubectl apply -f k8s/

