name: Deploy Next.js & Strapi to K3s

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest

    steps:
      # STEP 1 — Checkout source
      - name: Checkout Repository
        uses: actions/checkout@v3

      # STEP 2 — Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # ------------------------------------------
      # BUILD NEXTJS
      # ------------------------------------------
      - name: Build Next.js (Versioned & Latest)
        run: |
          VERSION=v1.0.${{ github.run_number }}

          docker build \
            -t aleena8/nextjs:${VERSION} \
            -t aleena8/nextjs:latest \
            ./frontend

      - name: Push Next.js Images
        run: |
          VERSION=v1.0.${{ github.run_number }}
          docker push aleena8/nextjs:${VERSION}
          docker push aleena8/nextjs:latest

      # ------------------------------------------
      # BUILD STRAPI
      # ------------------------------------------
      - name: Build Strapi (Versioned & Latest)
        run: |
          VERSION=v1.0.${{ github.run_number }}

          docker build \
            -t aleena8/strapi:${VERSION} \
            -t aleena8/strapi:latest \
            ./backend

      - name: Push Strapi Images
        run: |
          VERSION=v1.0.${{ github.run_number }}
          docker push aleena8/strapi:${VERSION}
          docker push aleena8/strapi:latest

      # ------------------------------------------
      # SETUP KUBECTL
      # ------------------------------------------
      - name: Setup kubectl
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}
            # ------------------------------------------
      # APPLY KUBERNETES YAML CONFIGS
      # ------------------------------------------
      - name: Apply K8s manifests
        run: |
          kubectl apply -f k8s/ -n my-blog


      # ------------------------------------------
      # DEPLOY USING VERSION TAG
      # ------------------------------------------
      - name: Update Kubernetes Deployment
        run: |
          VERSION=v1.0.${{ github.run_number }}

          kubectl set image deployment/nextjs nextjs=aleena8/nextjs:${VERSION} -n my-blog
          kubectl set image deployment/strapi-api strapi=aleena8/strapi:${VERSION} -n my-blog

      - name: Rollout Status
        run: |
          kubectl rollout status deployment/nextjs -n my-blog
          kubectl rollout status deployment/strapi-api -n my-blog
  
